{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">
        <!-- List the todo items here -->
        {% for item in view_model.items %}
        <li>ID:{{item.id}} - {{ item.title }} - Status: {{ item.status }} <a href="/complete_item/{{item.id}}"> Item_Done? </a></li>
        {% endfor %}
        {% for item in view_model.done_items %}
        <li>ID:{{item.id}} - {{ item.title }} - Status: {{ item.status }}</li>
        {% endfor %}
      </ul>
      <h2>New Items</h2>
      <form action="/add" method="POST">
        <label for="todo">New To-Do Item:</label><br>
        <input type="text" id="todo" name="todo"><br><br>
        <input type="submit" value="Submit">
      </form>
    </div>
  </div>
  
{% endblock %}