FLASK_APP=todo_app/app
FLASK_ENV=production
SECRET_KEY=secret-key
TRELLO_APIKEY={{ trello_apikey }}
TRELLO_TOKEN={{ trello_token }}
TRELLO_BOARD=62cec6917f767a0862e96bbb
TRELLO_TODOLISTID=62cec6917f767a0862e96bc2
TRELLO_DONELISTID=62cec6917f767a0862e96bc4

